body{
    background-color: #5a5cb1;
}
body .img {
    text-align: center;
    margin: 60px;
}
body .text {
    text-align: center;
    font-size: 57px;
    color: #ced1d3;
}
.button{
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 100px;
    background-color: #5a5cb1;
    border: none;
}